<div class="container content px-1">
    <h1>Event</h1>

    <div class="card mb-2 flex-md-row shadow-sm h-md-250">
        <img class="card-img-right flex-auto d-none d-md-block" src="/public/img/avatar_2x.png" alt="Card image cap">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-2 text-dark">{{viewEvent.name}} <small>{{viewEvent.location}}</small></h3>
            <div class="mb-2 text-muted">{{viewEvent.dateTime}}</div>
            <div class="mb-2">Players: {{viewEvent.playerCount}} / {{viewEvent.maxPlayers}}</div>
            {{#if user}}
            <form action="/events/view/{{viewEvent._id}}" method="POST">
                {{#if userAttendingEvent}}
                <input name="attending" type="hidden" value="false">
                <button class="btn btn-md btn-warning" type="submit">Leave Event</button>
                {{else}}
                <input name="attending" type="hidden" value="true">
                <button class="btn btn-md btn-primary" type="submit">Attend Event</button>
                {{/if}}
            </form>
            {{/if}}
        </div>
    </div>

    <h3>Attending Players</h3>
    <div class="card mb-2 shadow-sm">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Skill Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each viewEvent.players}}
                    <tr>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.skillLevel}}</td>
                        <td><a href="/users/view/{{this._id}}" class="btn btn-primary btn-sm active" role="button"
                                aria-pressed="true">View Profile</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Teams</h3>
    <div class="row">
        {{#each viewEvent.teams}}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    Team {{this._id}}
                </div>
                <ul class="list-group list-group-flush">
                    {{#each this.players}}
                    <li class="list-group-item">{{this.firstName}} {{this.lastName}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>