<div class="container content px-1">
    <h1>Events</h1>

    {{#each events}}
    <div class="row mb-2">
        <div class="col">
            <div class="card flex-md-row shadow-sm h-md-250">
                <img class="card-img-right flex-auto d-none d-md-block" src="/public/img/avatar_2x.png" alt="Card image cap">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-2 text-dark">{{this.name}} <small>{{this.location}}</small></h3>
                    <div class="mb-2 text-muted">{{this.dateTime}}</div>
                    <div class="mb-2">Players: {{this.playerCount}} / {{this.maxPlayers}}</div>   
                    <a class="btn btn-primary" href="events/view/{{this._id}}" role="button">View Event</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>