<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">OpenGym</h1>
        <h2>A platform for organizing local sports</h2>
        <p><a class="btn btn-primary btn-lg" href="/events" role="button">See local events &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h1>Get Involved</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Sign Up</h2>
            <p>Making an account is easy! Just provide a little info about yourself to get started using the site!</p>
            <p><a class="btn btn-secondary" href="/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Find An Event</h2>
            <p>Using our event navigator you can locate an open gym near you! Don't be shy.</p>
            <p><a class="btn btn-secondary" href="/events" role="button">View Events &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Play</h2>
            <p>Select an event and click the button to say you're attending. After that all you need to do is show up and play!</p>
        </div>
    </div>
</div>