<div class="container content px-1">

    <div id="errorBlock" class="alert alert-danger shadow-sm d-none" role="alert"></div>

    <form id="loginForm" method="POST" action="/login" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control"
            placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control"
            placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<script>
    // Attach a submit handler to the form
    $("#loginForm").submit(function (event) 
    {
        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $(this),
            email = $form.find("input[name='email']").val(),
            password = $form.find("input[name='password']").val(),
            url = $form.attr("action");

        // Send the data using post
        var posting = $.post(url, { email: email, password: password });

        // Put the results in a div
        posting.done(function (data) 
        {
            window.location.href = "/";
        });

        posting.fail(function (data) 
        {
            var badEmail = data.responseJSON.errorData.badAll || data.responseJSON.errorData.badEmail;
            var badAll = data.responseJSON.errorData.badAll;

            $( "div#errorBlock" ).text(data.responseJSON.errorData.message);	
            $( "div#errorBlock" ).removeClass( "d-none" );

            if(badAll || badEmail)
            {
                $( "#inputEmail" ).addClass( "is-invalid" );
            }

            if(badAll)
            {
                $( "#inputPassword" ).addClass( "is-invalid" );
            }
        });
    });
</script>