<div class="container content px-1">
    <h1>Sign Up!</h1>

    {{#if errorData.message}}
        <div class="alert alert-danger shadow-sm" role="alert">{{errorData.message}}</div>
    {{/if}}

    <form action="/signup" method="POST" class="form">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="email">Email address</label>
                <input id="email" type="email" class="form-control {{#if errorData.badEmail}}is-invalid{{/if}}" name="email" placeholder="" {{#if userData}}value="{{userData.email}}"{{/if}} required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="password1">Password</label>
                <input id="password1" type="password" class="form-control {{#if errorData.badPassword}}is-invalid{{/if}}" name="password" placeholder="" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="password2">Retype Password</label>
                <input id="password2" type="password" class="form-control {{#if errorData.badPassword}}is-invalid{{/if}}" name="passwordRetype" placeholder="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input id="firstName" type="text" class="form-control" name="firstName" placeholder="" {{#if userData}}value="{{userData.firstName}}"{{/if}} required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input id="lastName" type="text" class="form-control" name="lastName" placeholder="" {{#if userData}}value="{{userData.lastName}}"{{/if}} required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select id="state" class="custom-select d-block w-100" name="state" required disabled>
                    <option value="">Choose...</option>
                    <option value="New Jersey" selected>New Jersey</option>
                </select>
            </div>
            <div class="col-md-5 mb-3">
                <label for="city">City/Town</label>
                <input id="city" type="text" class="form-control" name="city" placeholder="" {{#if userData}}value="{{userData.city}}"{{/if}} required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="userImage">User Image</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input id="userImage" type="file" class="custom-file-input" name="userImage" aria-describedby="inputGroupFileAddon01" disabled>
                        <label class="custom-file-label" for="userImage">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="skillLevel">Skill Level</label>
                <select id="skillLevel" class="custom-select d-block w-100" name="skillLevel" required>
                    {{#if userData}}
                    {{#select userData.skillLevel}}
                    <option value="">Choose...</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    {{/select}}
                    {{else}}
                    <option value="">Choose...</option>
                    <option value="Beginner" selected>Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
            </div>
        </div>
    </form>
</div>