body {
    padding-top: 50px;
}

.jumbotron
{
    background-image: url("../img/jumbotronImg.jpg");
}

.content
{
    padding-top: 50px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card
{
    margin-top: 10px;
}

.btn
{
    margin-right: 10px;    
}