<div class="container content px-1">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Edit User Profile</h1>
        </div>
    </div>
    {{#if errorData.message}}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger shadow-sm" role="alert">{{errorData.message}}</div>
        </div>
    </div>
    {{/if}}
    <form action="/users/edit" method="POST" class="form">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="/public/img/avatar_2x.png" class="img-thumbnail shadow-sm" alt="avatar">
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Name
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" name="firstName" value="{{ editUser.firstName }}"
                                placeholder="First Name" required>
                            <input type="text" class="form-control" name="lastName" value="{{ editUser.lastName }}"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        Email
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control {{#if errorData.badEmail}}is-invalid{{/if}}" value="{{ editUser.email }}" placeholder="Email"
                                name="email" required>
                        </div>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        Location
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="city" value="{{ editUser.city }}" placeholder="City"
                            required>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        Skill Level
                    </div>
                    <div class="card-body">
                        <select class="custom-select d-block w-100" name="skillLevel" required>
                            {{#select editUser.skillLevel}}
                            <option value="">Choose...</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        Password
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="password" class="form-control {{#if errorData.badPassword}}is-invalid{{/if}}" name="password" placeholder="Password">
                            <input type="password" class="form-control {{#if errorData.badPassword}}is-invalid{{/if}}" name="passwordRetype" placeholder="Retype Password">
                        </div>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="input-group">
                            <button class="btn btn-lg btn-primary" type="submit">Modify</button>
                            <a class="btn btn-lg btn-secondary" href="/users/edit" role="button">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>