<div class="container content px-1">
    <h1>Player List</h1>
    <div class="card shadow-sm">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>City</th>
                        <th>Skill Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.city}}</td>
                        <td>{{this.skillLevel}}</td>
                        <td><a href="/users/view/{{this._id}}" class="btn btn-primary btn-sm active" role="button"
                                aria-pressed="true">View Profile</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>