<div class="container content px-1">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>User Profile</h1>
        </div>
    </div>
    {{#if user}}
    {{#if enableEditButton}}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-primary shadow-sm" role="alert">
                Hi {{user.firstName}}! You are viewing your own profile page.<br />
                <a href="/users/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit my Profile</a>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="/public/img/avatar_2x.png" class="img-thumbnail shadow-sm" alt="avatar">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">

            <div class="card shadow-sm">
                <div class="card-header">
                    Name
                </div>
                <div class="card-body">
                    <p class="card-text">{{ viewUser.firstName }} {{ viewUser.lastName }}</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header">
                    Location
                </div>
                <div class="card-body">
                    <p class="card-text">{{ viewUser.city }}</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header">
                    Skill Level
                </div>
                <div class="card-body">
                    <p class="card-text">{{ viewUser.skillLevel }}</p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header">
                    Events attending
                </div>
                <div class="list-group list-group-flush">
                    {{#each viewUser.events}}
                    <a href="/events/view/{{this._id}}" class="list-group-item list-group-item-action">{{this.name}} {{this.location}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>